.feed {
  flex: 0.5;
  margin: 10px;
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.feed__input {
  display: flex;
  padding: 10px;
  margin: 10px;
  padding-left: 15px;
  color: gray;
  border-radius: 30px;
  border: 1px solid lightgray;
  transition: all 0.3s ease;
}

.feed__input:hover {
  border-color: gray;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
  outline-width: 0;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

@media screen and (min-width: 1100px) {
  .feed {
    flex: 0.7;
    margin: 0 10px;
  }
}
