.headerOption {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
  min-height: 52px;
  min-width: 80px;
}

.headerOption.active {
  color: black;
}

.headerOption.active::after {
  border-bottom: 2px solid black;
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.headerOption:hover {
  color: black;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption_nav_icon {
  position: absolute;
  bottom: 1px;
  right: 16px;
}
