.header {
  top: 0;
  width: 100%;
  position: sticky;
  border-bottom: 0.1px solid lightgray;
  background-color: white;
  z-index: 999;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1128px;
  padding: 0 10px;
  margin: auto;
}

.header__left,
.header__left > a {
  display: flex;
  align-items: center;
}

.header__left > a > img {
  object-fit: contain;
  height: 34px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  height: 17px;
  color: gray;
  background-color: #eef3f8;
  display: none;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}

@media screen and (min-width: 860px) {
  .header__search {
    display: flex;
  }
}
