.sidebar {
  position: relative;
  flex: 0.2;
  margin: 0 10px;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
  min-width: 200px;
}

.sidebar__avatar {
  margin-bottom: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  overflow: hidden;
}

.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
}

.sidebar__top > img {
  margin-bottom: -30px;
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar__stat {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__bottom > p {
  font-size: 13ox;
  padding-bottom: 10px;
}

.sidebar__recentItems {
  display: flex;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
  color: grey;
  padding: 5px;
  margin-bottom: 5px;
}

.sidebar__recentItems:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 5px;
}

@media screen and (min-width: 680px) {
  .sidebar {
    position: sticky;
    top: 80px;
  }
}
