.login {
  display: grid;
  place-items: center;
  padding: 100px 0;
  margin: 0 auto;
}

.login > img {
  height: 70px;
  margin: 20px 0;
  object-fit: contain;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: white;
  background-color: #0074b1;
  border-radius: 5px;
}

.login__register {
  cursor: pointer;
  color: #0074b1;
}

.login > p {
  margin-top: 20px;
}
